<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />
   <link rel="stylesheet" href="/css/nav.css">
   <link rel="stylesheet" href="/css/fonts.css">
   <link rel="stylesheet" href="https://unpkg.com/mouse-follower@1/dist/mouse-follower.min.css"/>
   <link rel="stylesheet" href="/css/Product.css">
   <script src="https://unpkg.com/mouse-follower@1/dist/mouse-follower.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/gsap.min.js"></script>
   <script src="https://unpkg.com/mouse-follower@1/dist/mouse-follower.min.js"></script>
    <title>
        Product Details
    </title>
</head>
<body>
    <div id="menuToggle-about">
        <input type="checkbox">
        <span id="span1"></span>
        <span id="span2"></span>
        <span id="span3"></span>
        <nav class="nav-menu">
          <div class="nav1-about">
            <a href="index.html">Home</a>
            <a href="about.html">About</a>
            <a href="design.html">Design</a>
            <a href="contact.html">Contact</a>
            <a id="searchnav" href="search.html">Search</a>
            <a id="Signupnav" href="reg.html">SignUp</a>
            <a id="admin-dash" href="dashboard.html">Admin</a>
          </div>
        </nav>
    </div>
            <section id="details" class="section-p1">
                <div class="w3-content w3-display-container" style="max-width:800px">
                    <img class="mySlides" src="/img/img-1.jpg"  style="width:115%">
                    <img class="mySlides" src="/img/img-5.jpg" style="width:115%">
                    <img class="mySlides" src="/img/img-4.jpg" style="width:115%">
                    <img class="mySlides" src="/img/img-3.jpg" style="width:115%">
                    <img class="mySlides" src="/img/img-2.jpg" style="width:115%">
                    <div class="w3-center w3-container w3-section w3-large w3-text-white w3-display-bottommiddle" style="width:100%">
                      <div class="w3-left w3-hover-text-khaki" onclick="plusDivs(-1)">&#10094;</div>
                      <div class="w3-right w3-hover-text-khaki" onclick="plusDivs(1)">&#10095;</div>
                      <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(1)"></span>
                      <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(2)"></span>
                      <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(3)"></span>
                      <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(4)"></span>
                      <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(5)"></span>
                    </div>
                  </div>
                <div class="spd">
                    <div class="block-wrap">
                        <div class="block-title-wrap">
                            <h2>Overview</h2>
                        </div>
                        <div class="offer">
                            <ul>
                                <li>
                                    <strong>Apartment</strong>
                                </li>
                                <li>
                                    Property Type
                                </li>
                            </ul> 
                                <div class="perks-details">
                                    <ul>
                                        <li class="Property-view"><img class="perk-img" src="/Images/bedrooms.png" alt="bedrooms"><div><%=search.bedrooms%></div></li>
                                       <li>Bedrooms</li>
                                    </ul>
                                </div>
                                <div class="perks-details">
                                    <ul>
                                        <li class="Property-view"><img class="perk-img" src="/Images/bathrooms.png" alt="bathrooms"><div><%=search.bathrooms%></div></li>
                                       <li>Bathrooms</li> 
                                    </ul>
                                </div>
                                <div class="perks-details">
                                    <ul>
                                        <li class="Property-view"><img class="perk-img" src="/Images/home.png" alt="area"><div><%=search.area%></div></li>
                                        <li> Sq Ft</li>
                                    </ul>
                                </div>
                                <div class="perks-details">
                                    <ul>
                                        <li class="Property-view"><img class="perk-img" src="/Images/calendar.png" alt="area"><div>2023</div></li>
                                        <li>Year Built</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    <div class="block-wrap">
                        <div class="block-title-wrap">
                            <h2>Description</h2>
                        </div>
                        <div>
                            <p class="Description">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                 Soluta iusto ea debitis eos esse, saepe molestiae id,
                                  est aspernatur qui nemo. Reprehenderit ratione ipsam doloremque pariatur,
                                  aut alias impedit iste?</p>
                        </div>
                    </div>
                    <div class="block-wrap">
                        <div class="block-title-wrap">
                            <h2>More Detials</h2>
                        </div>
                        <div class="detail-wrap-table">
                            <div class="rowData">
                                <div><strong>Reference No.</stong></div>
                                <div>21195</div>
                            </div>
                            <div class="rowData">
                                <div><strong>Price:</stong></div>
                                <div><%=search.price%>$</div>
                            </div>
                            <div class="rowData">
                                <div><strong>Property Size:</strong></div>
                                <div><%=search.area%></div>
                            </div>
                            <div class="rowData">
                                <div><strong>Bedrooms:</strong></div>
                                <div><%=search.bedrooms%></div>
                            </div>
                            <div class="rowData">
                                <div><strong>Bathrooms:</strong></div>
                                <div><%=search.bathrooms%></div>
                            </div>
                            <div class="rowData">
                                <div><strong>Property Type:</strong></div>
                                <div>21195</div>
                            </div>
                            <div class="rowData">
                                <div><strong>Property Status:</strong>
                                </div>
                                <div>21195</div>
                            </div>
                        </div>
                    </div>
                    <div class="block-wrap">
                        <div class="block-title-wrap-host">
                            <h2>Host</h2>
                            <button class="btn-list">View Listing</button>
                        </div>
                        <div class="host-info">
                            <img src="/Images/channel-1.jpeg" class="channel" alt="channel">
                            <div class="image-info">
                                <div class="personal-details">
                                    
                                    <img src="/Images/user.png" class="contact-img" alt="channel">
                                    <span>John</span>
                                </div>
                               <div class="personal-details">
                                <img src="/Images/smartphone.png" class="contact-img" alt="channel">
                                <span>+0127123458</span>
                               </div>
                               
                                
                            </div>
                        </div>
                    </div>
                </div>
            </section>
    <section id="product" class="section-p1">
        <h2>Featured Projects</h2>
        <div class="pro-container">
            <div class="pro">
                <img src="/img/img-1.jpg" alt="image1">
                <div class="des">
                    <span>Location</span>
                    <h5>product name</h5>
                    <div class="star">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                    <h4>Price</h4>
                </div>
                <button class="btn" style="position: absolute; bottom: 20px; right: 10px;">Details</button>
            </div>
            <div class="pro">
                <img src="/img/img-2.jpg" alt="image1">
                <div class="des">
                    <span>Location</span>
                    <h5>product name</h5>
                    <div class="star">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                    <h4>Price</h4>
                </div>
                <button class="btn" style="position: absolute; bottom: 20px; right: 10px;">Details</button>
            </div>
            <div class="pro">
                <img src="/img/img-3.jpg" alt="image1">
                <div class="des">
                    <span>Location</span>
                    <h5>product name</h5>
                    <div class="star">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                    <h4>Price</h4>
                </div>
                <button class="btn" style="position: absolute; bottom: 20px; right: 10px;">Details</button>
            </div>
            <div class="pro">
                <img src="/img/img-4.jpg" alt="image1">
                <div class="des">
                    <span>Location</span>
                    <h5>product name</h5>
                    <div class="star">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                    <h4>Price</h4>
                </div>
                <button class="btn" style="position: absolute; bottom: 20px; right: 10px;">Details</button>
            </div>
            <div class="pro">
                <img src="/img/img-5.jpg" alt="image1">
                <div class="des">
                    <span>Location</span>
                    <h5>product name</h5>
                    <div class="star">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                    <h4>Price</h4>
                </div>
                <button class="btn" style="position: absolute; bottom: 20px; right: 10px;">Details</button>
            </div>
            <div class="pro">
                <img src="/img/img-6.jpg" alt="image1">
                <div class="des">
                    <span>Location</span>
                    <h5>product name</h5>
                    <div class="star">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>

                    </div>
                    <h4>Price</h4>
                </div>
                <button class="btn" style="position: absolute; bottom: 20px; right: 10px;">Details</button>
            </div>
            <div class="pro">
                <img src="/img/img-1.jpg" alt="image1">
                <div class="des">
                    <span>Location</span>
                    <h5>product name</h5>
                    <div class="star">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                    <h4>Price</h4>
                </div>
                <button class="btn" style="position: absolute; bottom: 20px; right: 10px;">Details</button>
            </div>
            <div class="pro">
                <img src="/img/img-2.jpg" alt="image1">
                <div class="des">
                    <span>Location</span>
                    <h5>product name</h5>
                    <div class="star">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>

                    </div>
                    <h4>Price</h4>
                </div>
                <button class="btn" style="position: absolute; bottom: 20px; right: 10px;">Details</button>
            </div>
    </section>
    <section id="banner" class="section-m1" style="background-image:url(/img/img-7.jpg);">
        <h4>Repair Service</h4>
        <h2>Explore Move Now Pay Later Projects</h2>
        <button class="btn">Explore More </button>
    </section>
</body>
<script src="/Script/product.js"></script>
<script>
    const cursor = new MouseFollower({
      el: null,
      container: document.body,
      className: "mf-cursor",
      innerClassName: "mf-cursor-inner",
      textClassName: "mf-cursor-text",
      mediaClassName: "mf-cursor-media",
      mediaBoxClassName: "mf-cursor-media-box",
      iconSvgClassName: "mf-svgsprite",
      iconSvgNamePrefix: "-",
      iconSvgSrc: "",
      dataAttr: "cursor",
      hiddenState: "-hidden",
      textState: "-text",
      iconState: "-icon",
      activeState: "-active",
      mediaState: "-media",
      stateDetection: {
        "-pointer": "a,button",
        "-hidden": "iframe"
      },
      visible: true,
      visibleOnState: false,
      speed: 1,
      ease: "expo.out",
      overwrite: true,
      skewing: 0,
      skewingText: 0,
      skewingIcon: 2,
      skewingMedia: 2,
      skewingDelta: 0.001,
      skewingDeltaMax: 0.15,
      stickDelta: 0.15,
      showTimeout: 20,
      hideOnLeave: true,
      hideTimeout: 300,
      hideMediaTimeout: 300,
    });
  </script>

